<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>808温度管理系统</title>
    <link href="/resouces/xue-thermometer.css" rel="stylesheet">
    <script type="application/javascript" src="/resouces/jquery-1.8.0.min.js"></script>
    <script type="application/javascript" src="/resouces/xue-thermometer.js"></script>
</head>
<body>
<div id="bigbox" style="margin-left: 20%">
<div id="thermometer" class="xue-thermometer">


</div>
<div id="thermometer1" class="xue-thermometer1">


</div>
</div>

<script type="application/javascript">

    var xueThemometer;
    var xueThemometer1



    $(document).ready(function () {
        get()
        $.post('/sensor/find', function (res) {


                 xueThemometer = $("#thermometer").xueThemometer({
                    size: 440,
                    curThermometer: res.data.temperature,
                    startScale: 0,
                    endScale: 100,
                    scaleCount: 6
                });
                 xueThemometer1 = $("#thermometer1").xueThemometer({
                    size: 440,
                    curThermometer: res.data.humidity,
                     thermometerSuffix: "%",
                    startScale: 0,
                    endScale: 100,
                    scaleCount: 6
                });
            }
        )


    });
    function get() {
        setTimeout(get, 10000)
        $.post('/sensor/find', function (res) {
            xueThemometer.data("api").freshThermometer(res.data.temperature);
            xueThemometer1.data("api").freshThermometer(res.data.humidity);
        })

    }
</script>
</body>
</html>
